<html>
    <head>
      {{>links}}
    </head>
    <body>
        {{>navbar}}
        <div class="container-fluid main_header">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/about.png" alt="About me" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Know me more here</p>
                        <h2>I am the  <span>Mern Stack</span> and Backend Developer</h2>
                        <a href="/about"><button>About Me</button></a>
                     </div>        
                </div>
              </div>
             </div>
          </div>
        </div>
        {{>footer}}
    </body>
</html>